# --- Fichiers de clés RSA ---
# On ignore les clés générées pour que chaque instance crée les siennes
cle_privee.txt
cle_publique.txt
*.pem
*.key

# --- Logs et Journaux ---
# On ignore les fichiers de texte et de logs générés pendant les tests
*.log
journal_client.log
journal_*.txt

# --- Cache Python ---
# On ignore les fichiers compilés qui polluent le dossier (vu dans ton dossier __pycache__)
__pycache__/
*.py[cod]
*$py.class

# --- IDE et Système ---
.vscode/
.idea/
Thumbs.db
.DS_Store